
.one{
   color: black; 
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}
.two{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.card{
    display: flex;
    justify-content: center;  
}

.img{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    justify-content: center;
    
    
}
