
#imag1 {
    background-image: url('https://th.bing.com/th?id=OIP.Sr0S5GYsEttUenQQPS80QAHaFW&w=294&h=212&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2');
  }
.one{
   color: black; 
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}
.two{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.card{
    display: flex;
    justify-content: center;  
}

.img{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    justify-content: center;
    
    
}
